<div class="wrapper d-flex flex-column flex-row-fluid">
	<div class="card rounded-0 bgi-no-repeat bgi-position-x-end bgi-size-cover" style="background-color: #4b5320;background-size: auto 100%;">
		<!--begin::body-->
		<div class="card-body container pt-10 pb-8">
			<!--begin::Title-->
			<div class="d-flex align-items-center">
				<h1 class="fw-bold me-3 text-white">Data Visualization</h1>
				<span class="fw-bold text-white opacity-50">Generate statistical charts to better understand incident data</span>
			</div>
			<div class="d-flex flex-column">
				<div class="d-lg-flex align-lg-items-center">
					<app-global-search></app-global-search>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<div class="container" id="kt_content_container">
		<div class="d-flex flex-column flex-lg-row">
			<div class="flex-column flex-lg-row-auto w-100 w-lg-250px w-xxl-325px mb-8 mb-lg-0 me-lg-9 me-5">
				<div class="card">
					<div class="card-body">
						<div class="position-relative">
							<button class="btn btn-light btn-active-light-primary btn-color-gray-400 me-3" (click)="openLocationSearch(content)">Search Locations</button>
						</div>
						<div id="kt_explore_scroll" class="scroll-y me-n5 pe-5 mt-5" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_explore_body" data-kt-scroll-offset="5px">
							<div class="form-check form-check-custom form-check-solid mb-5">
								<input class="form-check-input" type="checkbox" id="kt_search_category_1" />
								<label class="form-check-label flex-grow-1 fw-bold text-gray-700 fs-7" for="kt_search_category_1" style="padding-left: 20px;">Vehicles Carted Away</label>
							</div>
						</div>
						<div class="separator separator-dashed my-8"></div>
						<div class="mb-5">
							<label class="fs-6 form-label fw-bolder text-dark">Chart Type</label>
							<select class="form-select form-select-solid" data-control="select2" data-placeholder="In Progress" data-hide-search="true">
								<option value=""></option>
								<option value="1">Bar Chart</option>
								<option value="2" selected="selected">Pie Chart</option>
								<option value="2" selected="selected">Line Chart</option>
								<option value="3">Map</option>
							</select>
						</div>
						<div class="mb-5">
							<label class="fs-6 form-label fw-bolder text-dark">Filter Metadata</label>
							<input type="text" class="form-control form-control form-control-solid" name="city" />
						</div>
						<div class="mb-10">
							<div class="form-check form-check-custom form-check-solid mb-5">
								<input class="form-check-input" type="checkbox" id="kt_search_category_1" />
								<label class="form-check-label flex-grow-1 fw-bold text-gray-700 fs-7" for="kt_search_category_1" style="padding-left: 20px;">Vehicles Carted Away</label>
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-end">
							<a href="#" class="btn btn-primary">Apply Filter</a>
						</div>
					</div>
				</div>
			</div>
			<div class="flex-lg-row-fluid">
				<div class="col-md-12" *ngFor="let region of regions">
					<app-incidences-by-region-breakdown region="{{region}}" categoriesData="{{stringify(categoriesData[region])}}" trendsData="{{stringify(trendsData[region])}}"></app-incidences-by-region-breakdown>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Search Locations</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<div class="row mb-10">
  		<div class="col-5">
  			<div class="position-relative">
				<span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24" />
							<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
							<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
						</g>
					</svg>
				</span>
				<!--end::Svg Icon-->
				<input type="text" class="form-control form-control-solid ps-10" name="searchLocation" value="" placeholder="Search" [(ngModel)]="locationKeyword" (change)="searchLocation()"/>
			</div>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-3">
			<div class="mb-5">
				<label class="fs-6 form-label fw-bolder text-dark">COUNTRY</label>
			</div>
			<div class="mb-1">
				<div class="form-check form-check-custom form-check-solid mb-5" *ngFor="let loc of searchedLocations.country">
					<input class="form-check-input" type="checkbox" id="kt_search_category_1" />
					<label class="form-check-label flex-grow-1 fw-bold text-gray-700 fs-7" for="kt_search_category_1" style="padding-left: 20px;">{{loc}}</label>
				</div>
			</div>
  		</div>
  		<div class="col-md-3">
			<div class="mb-5">
				<label class="fs-6 form-label fw-bolder text-dark">REGION</label>
			</div>
			<div class="mb-1">
				<div class="form-check form-check-custom form-check-solid mb-5" *ngFor="let loc of searchedLocations.region">
					<input class="form-check-input" type="checkbox" id="kt_search_category_1" />
					<label class="form-check-label flex-grow-1 fw-bold text-gray-700 fs-7" for="kt_search_category_1" style="padding-left: 20px;">{{loc}}</label>
				</div>
			</div>
  		</div>
  		<div class="col-md-3">
			<div class="mb-5">
				<label class="fs-6 form-label fw-bolder text-dark">STATE</label>
			</div>
			<div class="mb-1">
				<div class="form-check form-check-custom form-check-solid mb-5" *ngFor="let loc of searchedLocations.state">
					<input class="form-check-input" type="checkbox" id="kt_search_category_1" />
					<label class="form-check-label flex-grow-1 fw-bold text-gray-700 fs-7" for="kt_search_category_1" style="padding-left: 20px;">{{loc}}</label>
				</div>
			</div>
		</div>
  		<div class="col-md-3">
			<div class="mb-5">
				<label class="fs-6 form-label fw-bolder text-dark">LGA</label>
			</div>
			<div class="mb-1">
				<div class="form-check form-check-custom form-check-solid mb-5" *ngFor="let loc of searchedLocations.lga">
					<input class="form-check-input" type="checkbox" id="kt_search_category_1" />
					<label class="form-check-label flex-grow-1 fw-bold text-gray-700 fs-7" for="kt_search_category_1" style="padding-left: 20px;">{{loc}}</label>
				</div>
			</div>
		</div>
  	</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success">Save Analysis</button>
  </div>
</ng-template>