<div class="page-content" style="padding: 1rem !important">
  <div class="content-wrapper">
    <div class="content">
      <div class="row">
			<div class="col-md-12" *ngIf="timeline.length > 0">
				<horizontal-timeline [timelineElements]="timeline" [showContent]="false" [dateFormat]="'dd MMM, yyyy'"></horizontal-timeline>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div style="height: 100vh; margin-bottom: 10px;"
				     leaflet 
				     leafletDraw
				     [leafletOptions]="leafletOptions"
				     [leafletDrawOptions]="drawOptions"
				     (leafletDrawCreated)="onDrawCreated($event)"
				     (leafletMapReady)="onMapReady($event)">
				     <div [leafletLayer]="drawnItems"></div>
				</div>
			</div>
			<div class="col-md-2" style="overflow-x: hidden; background-color: rgba(255, 255, 255, 0.4); padding-top: 5px;">
				<h6 class="font-weight-semibold text-center">LEGEND</h6>
				<table>
					<tr *ngFor="let item of typeColors | keyvalue">
						<td style="padding: 0.6em; line-height: 1.25; font-weight: 500;"><span class="dot" style="background-color: {{item.value}}"></span>&nbsp;&nbsp;{{item.key}}</td>
					</tr>
				</table>
			</div>
		</div>
    </div>
  </div>
</div>