<div class="card">
	<div class="card-header header-elements-inline">
		<h5 class="card-title">States</h5>
		<div class="header-elements">
			<div class="list-icons">
        		<a class="list-icons-item" data-action="collapse"></a>
        		<a class="list-icons-item" data-action="reload"></a>
        	</div>
    	</div>
	</div>

	<div class="card-body">
		<div class="chart-container">
			<div echarts [options]="incidencesByStateOption" (chartInit)="onChartInit($event)"></div>
		</div>
	</div>
</div>